<a href="https://colab.research.google.com/github/Nermen-Salama/python-learn/blob/main/01_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p><img alt="Colaboratory logo" height="45px" src="/img/colab_favicon.ico" align="left" hspace="10px" vspace="0px"></p>

<h1>What is Colaboratory?</h1>

Colaboratory, or "Colab" for short, allows you to write and execute Python in your browser, with 
- Zero configuration required
- Free access to GPUs
- Easy sharing

Whether you're a **student**, a **data scientist** or an **AI researcher**, Colab can make your work easier. Watch [Introduction to Colab](https://www.youtube.com/watch?v=inN8seMm7UI) to learn more, or just get started below!

## **Getting started**

The document you are reading is not a static web page, but an interactive environment called a **Colab notebook** that lets you write and execute code.

###**This Tutorial made for "AI from Concept to Market" course.** 

For example, here is a **code cell** with a short Python script that computes a value, stores it in a variable, and prints the result:

Cloning into 'python-learn'...
remote: Enumerating objects: 7, done.
remote: Counting objects: 100% (7/7), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 7 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (7/7), done.
Already on 'incoming'
Your branch is up to date with 'origin/incoming'.


##NumPy array numerical data types

Data Type | Details
--- | ---
bool | This is a Boolean type that stores a bit and takes **True** or **False** values.
inti | Platform integers can be either int32 or int64 .
int8 | Byte store values range from -128 to 127 .
int16 | This stores integers ranging from -32768 to 32767 .
int32 |This stores integers ranging from $-2^{31} $ to $2^{31}-1$.
int64 |This stores integers ranging from $-2^{63} $ to $2^{63}-1$.
uint8|This stores unsigned integers ranging from 0 to 255 .
uint16 |This stores unsigned integers ranging from 0 to 65535.
uint32|This stores unsigned integers ranging from 0 to $2^{32}-1$.
uint64|This stores unsigned integers ranging from 0 to $2^{64}-1$.
float16|Half-precision float; sign bit with 5 bits exponent and 10 bits mantissa.
float32|Single-precision float; sign bit with 8 bits exponent and 23 bits mantissa.
float64 or float|Double-precision float; sign bit with 11 bits exponent and 52 bits mantissa.
complex64|Complex number stores two 32-bit floats: real and imaginary number.
complex128 or complex|Complex number stores two 64-bit floats: real and imaginary number.


<table style="hight:200px">
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>

<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr style="height:200px">
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table>


<p style="font-size:160%;">This is a paragraph.</p>
<table style="width:1000%">
  <tr>
    <th style="width:70%">Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table>

table, th, td {
  border: 1px solid black;
   <table style="width:100%">
   <tr>
      <th style="width:70%">Firstname</th>
       <th>Lastname</th>
            <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table>
}

<table>
  <tr>
    <th colspan="2">Name</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table>